.LGN-centered-container {
    transform: translate(-50%, -50%);
}

.LGN-title-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LGN-welcome-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.ttf') format("truetype");
}

.LGN-title-text {
    font-family: "Prata", sans-serif;
    font-size: 500%;
}

.LGN-welcome-text {
    font-family: "Prata", sans-serif;
    font-size: 200%;
}

.LGN-text-entry-form {
    position: relative;
    left: 15vw;
    width: 50%;
    padding: .75%;
}

.LGN-eye-icon {
    position: absolute;
    width: 2%;
    height: auto;
    left: 50.25%;
    top: 59%;
}


.LGN-login-btn {
    position: absolute;
    left: 50vw;
    top: 72vh;
    transform: translate(-50%, -50%);
}
