@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.ttf') format("truetype");
}

.CR-page-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.CR-title-container {
    position: relative;
    margin-top: 25vh;
    text-align: center;
    /* outline: 2px solid red;  */

}

.CR-title-text {
    font-family: "Prata", sans-serif;
    font-size: 500%;
}

.CR-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* outline: 2px solid red;  */
}

.CR-text-entry-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 27.5vw;
    /* outline: 2px solid red;  */
}

.CR-text-first {
    width: 10vw;
    text-align: end;
}

.CR-text-second {
    width: 15vw;
}

.CR-create-account-btn {
    position: relative;
    margin-top: 5vh;
    align-self: center;
}
