.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-title-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-welcome-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.ttf') format("truetype");
}

.login-title-text {
    font-family: "Prata", sans-serif;
    font-size: 500%;
}

.login-welcome-text {
    font-family: "Prata", sans-serif;
    font-size: 200%;
}

.login-eye-icon {
    position: absolute;
    width: 2%;
    height: auto;
    left: 52.8%;
    top: 70.25%;
}


.login-login-btn {
    position: absolute;
    left: 50vw;
    top: 85.5vh;
    transform: translate(-50%, -50%);
}
