.HM-container {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 67%;
    height: 480vh;
}

.HM-title-text {
    font-family: "Droid Sans", serif;
    font-size: 350%;
    text-align: center;
}

.HM-heading-container {
   margin-top: 1%; 
}

.HM-heading-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.HM-all-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HM-row-recipes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.HM-singular-recipe-container {
    margin-right: 31.25px;
    margin-left: 31.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.HM-recipe-text {
    font-family: "Droid Sans", serif;
    font-size: 150%;
    white-space: nowrap;
    text-align: center;
}

.HM-recipe-img {
    width: 20vw;
    height: auto;
}

.HM-sad-chef-container {
    position: absolute;
    text-align: center;
    left: 27%;
    top: 25%;
    width: 73%;
}
.HM-sad-chef-img {
    width: 55%;
    height: auto;
}

.HM-sad-text-container {
    position: absolute;
    text-align: center;
    left: 27%;
    top: 85%;
    width: 73%;
}

.HM-sad-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}