.HM-help-img {
    position: absolute;
    left: 65vw;
    top: 4vh;
    width: 2vw;
    height: auto;
}

.HM-container {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 67%;
    padding-bottom: 5%;
    /* outline: 2px solid red;  */
}

.HM-title-text {
    font-family: "Droid Sans", serif;
    font-size: 350%;
    text-align: center;
}

.HM-return-container {
    position: absolute;
    top: 17%;
    left: 30%;
}

.HM-return-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.HM-return-text:hover {
    text-decoration-line: underline;
}

.HM-heading-container {
   margin-top: 1%; 
}

.HM-heading-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.HM-all-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HM-row-recipes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.HM-singular-recipe-container {
    position: relative;
    margin-right: 31.25px;
    margin-left: 31.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HM-hover-options {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(114, 109, 109, 0.8); /* Light grey with 50% opacity */
    border-radius: 10px; /* Adjust the value to control the roundness */
    padding: 5px;
    cursor: pointer;
}

.HM-singular-recipe-container:hover .HM-hover-options {
    display: flex;
    flex-direction: row;         
}

.HM-RedX-img {
    width: 5vw;
    height: auto;
}

.HM-Eye-img {
    width: 5vw;
    height: auto;
    margin-right: 15px;
}

.HM-recipe-text {
    font-family: "Droid Sans", serif;
    font-size: 150%;
    white-space: nowrap;
    text-align: center;
}

.HM-recipe-img {
    width: 20vw;
    height: 17.5vw;
    border-radius: 10px; 
}

.HM-sad-chef-container {
    position: fixed;
    text-align: center;
    left: 27%;
    top: 25%;
    width: 73%;
}
.HM-sad-chef-img {
    width: 55%;
    height: auto;
}

.HM-sad-text-container {
    position: fixed;
    text-align: center;
    left: 27%;
    top: 85%;
    width: 73%;
}

.HM-sad-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.HM-selected-text {
    font-family: "Droid Sans", serif;
    font-size: 175%;   
}

.HM-selected-title-container {
    position: absolute;
    left: 32.5%;
    top: 25%;
}

.HM-selected-image {
    position: absolute;
    left: 70vw;
    top: 35vh;   
    width: 25vw;
    height: 22.5vw;

    border-radius: 10px; 
}
.HM-selected-time-container {
    position: absolute;
    left: 35%;
    top: 32.5%;
}

.HM-selected-servings-container {
    position: absolute;
    left: 35%;
    top: 37.5%;
}

.HM-ingredients-steps-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 24%;
}

.HM-selected-ingredients-container {
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 25%;
}
