.SBD-search-bar {
    position: absolute;
    left: 58%;
    top: 8.5%;
    width: 40%;
    height: 5%;
}

.SBD-help-img {
    position: absolute;
    left: 56%;
    top: 9%;
    width: 2%;
    height: auto;
}

.SBD-title-container {
    position: absolute;
    top: 5%;
    left: 30%;
}

.SBD-title-text {
    font-family: "Droid Sans", serif;
    font-size: 350%;
}

.SBD-options-title-container {
    position: absolute;
    top: 17%;
    left: 30%;
}

.SBD-options-title-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.SBD-options-items-container-big {
    position: absolute;
    top: 25vh;
    left: 37.5vw;
    width: 49vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 2px solid red;  */
}

.SBD-options-items-container1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* outline: 2px solid blue;  */
}

.SBD-options-items-container2 {
    position: relative;     
    display: flex;
    flex-direction: row;
    /* outline: 2px solid yellow;  */
}

.SBD-options-items-container-small {
    position: relative;
    margin-right: 31.25px;
    margin-left: 31.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* outline: 2px solid green;  */
}

.SBD-options-items-text {
    font-family: "Droid Sans", serif;
    font-size: 150%;
    white-space: nowrap;
    text-align: center;
}

.SBD-arrow-right {
    position: absolute;
    left: 89%;
    top: 56%;
    width: 8%;
    height: auto;
}

.SBD-arrow-left {
    position: absolute;
    left: 27.5%;
    top: 56%;
    width: 8%;
    height: auto;
}

.SBD-return-title-container {
    position: absolute;
    top: 17%;
    left: 30%;
}

.SBD-return-title-container:hover {
    text-decoration-line: underline;
}

.SBD-selected-text {
    font-family: "Droid Sans", serif;
    font-size: 175%;   
}

.SBD-selected-title-container {
    position: absolute;
    left: 32.5%;
    top: 25%;
}

.SBD-selected-image-container {
    position: absolute;
    left: 60%;
    top: 32.5%;
}

.SBD-options-items-image {
    width: 25vw;
    height: 22.5vw;
    border-radius: 10px; 
}

.SBD-selected-time-container {
    position: absolute;
    left: 35%;
    top: 32.5%;
}

.SBD-selected-servings-container {
    position: absolute;
    left: 35%;
    top: 37.5%;
}

.SBD-ingredients-steps-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 24%;
}

.SBD-selected-ingredients-container {
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 25%;
}

.SBD-add-recipe-btn {
    position: absolute;
    top: 85%;
    left: 73.5%;
}