<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Realm</title>
</head>
<body>
<h1>Welcome to Recipe Realm!</h1>
<h2>Login here</h2>
 <form action="">

            <label for="first">

                  Username:

              </label>

            <input type="text"

                   id="first"

                   name="first"

                   placeholder="Enter your Username" required>


            <label for="password">

                  Password:

              </label>

            <input type="password"

                   id="password"

                   name="password"

                   placeholder="Enter your Password" required>


            <div class="wrap">

                <button type="submit"

                        onclick="solve()">

                    Submit

                </button>

            </div>

        </form>
</body>
</html>