.SBD-search-bar {
    position: absolute;
    left: 58%;
    top: 8.5%;
    width: 40%;
    height: 5%;
}

.SBD-help-img {
    position: absolute;
    left: 56%;
    top: 9%;
    width: 2%;
    height: auto;
}

.SBD-title-container {
    position: absolute;
    top: 5%;
    left: 30%;
}

.SBD-title-text {
    font-family: "Droid Sans", serif;
    font-size: 350%;
}

.SBD-options-title-container {
    position: absolute;
    top: 17%;
    left: 30%;
}

.SBD-options-title-text {
    font-family: "Droid Sans", serif;
    font-size: 250%;
}

.SBD-options-items-container {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SBD-options-items-text {
    font-family: "Droid Sans", serif;
    font-size: 150%;
    white-space: nowrap;
    text-align: center;
}

.SBD-options-item-img {
    /*margin-right: 75px;*/
}


