@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.ttf') format("truetype");
}

.TMP-title-container {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    top: 5%;
    text-align: center;
}

.TMP-title-text {
    font-family: "Prata", sans-serif;
    font-size: 350%;
    cursor: pointer;
}

.TMP-empty-container {
    position: absolute;
    width: 27vw;
    height: 25vh;
    left: 0;                
    border-top-right-radius: 10px;
    /* outline: 2px solid green;  */

}

.TMP-credit-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center; 
    top: 87.5vh; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 22vw;
    /* outline: 2px solid blue;   */
}

.TMP-credit-text {
    font-family: "Prata", sans-serif;
    font-size: 100%;
    color: antiquewhite;
}

.TMP-nav-item {
    position: relative;
    margin-bottom: 10%;
    font-family: "Droid Sans", serif;
    font-size: 250%;
    color: antiquewhite;
    cursor: pointer;
}

.TMP-hover-white {
    .nav-item .nav-link {
        color: antiquewhite;
    }

    .nav-item:hover .nav-link,
    .nav-item:focus .nav-link,
    .nav-item:active .nav-link {
        color: yellow;
        background-color: transparent;
    }
}

.TMP-logout-btn {
    margin-top: 2.5%;
    font-family: "Droid Sans", serif;
    color: antiquewhite;
    cursor: pointer;
}

.TMP-logout-btn:hover {
    text-decoration-line: underline;
}
