@font-face {
    font-family: 'Prata';
    src: url('Prata-Regular.ttf') format("truetype");
}

.LP-page-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.LP-bg-image {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    background-image: url("FoodOnTable_RR.jpg");
    background-size: cover;
}

.LP-title-container {
    position: relative;
    margin-top: 40vh;
    /* outline: 2px solid red;  */
}

.LP-title-text {
    text-align: center;
    font-size: 500%;
    font-family: "Prata", sans-serif;
}

.LP-heading-container {
    position: relative;
    align-self: center;
    margin-top: 5vh;
    width: 65%;
    /* outline: 2px solid red;  */
}

.LP-heading-text {
    text-align: center;
    font-size: 250%;
    font-family: "Prata", sans-serif;
}

.LP-buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 50vw;
    align-self: center;
    /* outline: 2px solid red;  */
}

.LP-create-account-btn {
    text-align: center;
    position: relative;
    width: 12.5vw;
    margin-left: 3.125vw;
    margin-right: 3.125vw;
}

.LP-learn-more-btn {
    width: 12.5vw;
}

.LP-login-btn {
    width: 12.5vw;
    margin-left: 3.125vw;
    margin-right: 3.125vw;
}

.LP-info-section-big {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 2.5vh;
    width: 97.5vw;
    /* outline: 2px solid red;  */
}

.LP-text-and-picture {
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 97.5vw;
    align-items: center;
    /* outline: 2px solid red;  */
}

.LP-picture {
    position: relative;
    width: 45vw;
    height: auto;
    border-radius: 10px; 
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.LP-picture-textbox {
    position: relative;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    width: 40vw;
    text-align: center;
}

.LP-picture-text {
    font-family: "Prata", sans-serif;
    font-size: 350%;
}

.LP-initiative-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.LP-initiative-text {
    font-family: "Prata", sans-serif;
    margin-right: 5px;
    font-size: 200%;
    font-weight: bold;
}

.LP-clickable-initiative-text {
    text-decoration-line: underline;
    color: cadetblue;
    cursor: pointer;
}

.LP-navbar {
    position: relative;
    margin-top: 1%;
}
